AI_PROVIDER=
AI_API_KEY=
AI_MODEL=
APPWRITE_API_KEY=
APPWRITE_COLLECTION_ID_AI_KEYS=
APPWRITE_COLLECTION_ID_TRIAL_SESSIONS=
APPWRITE_DATABASE_ID=
DEV_OVERRIDE_PRICING_TIER=
DEV_OVERRIDE_PRICING_TIER_USER_IDS=
FINNHUB_API_KEY=
FINNHUB_BASE_URL=
NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
OLLAMA_MODEL=
VERCEL_ORG_ID=
VERCEL_PROJECT_ID=
VERCEL_TOKEN=
